body {
    margin: 0;
    font-family: sans-serif;
}

nav,
header {
    background-color: #3D405B;
    color: #F4F1DE;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.logo {
    font-weight: 900;
    font-size: 14pt;
}

.header-links {
    font-size: 10pt;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.header-img {
    width: 350px;
    height: 150px;
    background-color: #ccc;
}

main {}

section {}

.info {}

.quote {
    background-color: #F4F1DE;
}

.action-alert {
    background-color: #E07A5F;
}

.action-left {}

footer {
    background-color: #3D405B;
}