body {
    margin: 0;
    font-family: sans-serif;
}

nav,
header {
    background-color: #3D405B;
    color: #F4F1DE;
    padding: 10px 125px;
}

nav {
    display: flex;
    justify-content: space-between;

}

.logo {
    font-weight: 900;
    font-size: 14pt;
}

.header-links {
    font-size: 9pt;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    padding: 0 10px;
}

a {
    text-decoration: none;
}

header {
    padding-top: 70px;
    padding-bottom: 70px;
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-left {
    color: #F4F1DE;
    font-size: 9pt;
}

h1 {
    font-size: 22pt;
    margin-top: 0;
    margin-bottom: 5px;
}

.header-button {
    background-color: #F2CC8F;
    color: #3D405B;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 10px 0;

}

.header-img {
    width: 325px;
    height: 150px;
    background-color: #ccc;
}

section {}

.random {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.random-img {
    height: 125px;
    width: 125px;
    border: 3px solid #E07A5F;
    border-radius: 10px;
    display: block;
}

item {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.item-info {
    font-size: 9pt;
    text-align: center;
}



.info {}

.quote {
    background-color: #F4F1DE;
    padding: 100px 200px;
    font-size: 18pt;
    font-style: italic;
    font-weight: light;
}

.attribution {
    display: block;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.action {
    margin: 50px 0;
}

.action-alert {
    background-color: #E07A5F;
    display: flex;
    justify-content: space-evenly;
    padding: 25px 10px;
    margin: 10px 125px;
    border-radius: 10px;
}

h3 {
    margin: 0;
}

.action-left {
    color: #F4F1DE;
}

.action-left span {
    font-size: 9pt;
}

.action-button {
    background-color: #E07A5F;
    color: #F4F1DE;
    border: 1px solid #F4F1DE;
    padding: 5px 20px;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
}

footer {
    background-color: #3D405B;
    padding: 25px;
    text-align: center;
    font-size: 9pt;
    color: #F4F1DE;
}