body {
    margin: 0;
}

nav {
    background-color: #3D405B;
}

header {
    background-color: #3D405B;
}

main {}

section {}

.info {}

.quote {
    background-color: #F4F1DE;
}

.action-alert {
    background-color: #E07A5F;
}

.action-left {}

footer {
    background-color: #3D405B;
}